* {
    margin: 0;
    padding: 0;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

#banner {
    width: 100%;
    height: 60vh;
    background-color: gray;
    position: relative;
}

.banner-arrows{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.banner-arrow{
    width: 32px;
    height: auto;
    z-index: 1;
}

.banner-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.banner-container-item{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: darken;
    background-position: center;
}
.banner-item-common {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    text-align: center;
}
.header-contact {
    background-color: #899fb430;
    padding: 16px;
}

.header-icons {
    color: #5db2ff;
}

.header-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: auto;
    height: 48px;
    margin: 16px;
}

.menu-icon {
    width: auto;
    height: 32px;
    margin: 16px;
}

.about {
    padding: 10px 10px 0px 10px;
    margin-top: 50px;
    margin-bottom: 10px;

}

.underline {
    width: 50px;
    height: 5px;
    background-color: #5db2ff;
    margin-top: 8px;
    margin-bottom: 32px;
}

.about-content {
    color: #707070;
    text-align: justify;
}

.expertise {
    margin-top: 50px;
}

.expertise-header {
    margin-left: 8px;
}

.expertise>.underline {
    margin-left: 8px;
}

.expertise-item {
    background-color: #5db2ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vw;
    margin-bottom: 10px;
    flex-grow: 1;

}

.expertise-item>* {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 16px;
}

.expertise-icons {
    width: 48px;
}


.services {
    margin-top: 50px;
}

.services-header {
    margin-left: 8px;
}

.services>.underline {
    margin-left: 8px;
}

.service-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px;
    padding: 48px 35px 45px 35px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.service-items>* {
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 16px;
}

.service-description{
    font-size: 1.2rem;
    color: #707070;
}

.contact {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7) url("/img/chair.jpg");
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.contact-header {
    color: white;
}

.contact-inputs {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 16px;
    color: white;
    background-color: #000000AF;
    border: 0px;
}

.contact-submit {
    font-size: 1.1rem;
    padding: 8px;
    background-color: #5db2ff;
    border: 0px;
    color: white;
    width: 50%;
    align-self: center;
}

footer {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    height: 48px;
}

.footer-description {
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer-icons {
    font-size: 1rem;
    color: #5db2ff;
}

.footer-table tr td {
    padding: 8px;
}

.footer-social {
    margin-top: 16px;
    align-self: center;
}

.footer-social-icons {
    margin-right: 8px;
    font-size: 1.5rem;
}


.footer-separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 16px;
    margin-top: 16px;
}

.footer-copyright {
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 16px;
}

#drawer {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: -100vw;
    transition: 0.2s;
    display: flex;
    z-index: 2;
    flex-direction: column;
    padding: 16px 0px 0px 0px;
}

.drawer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#drawer>a {
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 16px;
    text-decoration: none;
    color: black;
}

#whatsappbutton {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #128C7E;
    color: white;
    padding: 8px;
    border-radius: 8px;
}
.about-container{
    display: flex;
    align-items: center;
}
.about-image {
    display: none;
    margin: 100px;
    width: 50%;
}

.internal-service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.internal-service-item{
    max-width: 400px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin: 32px;
}

.internal-service-texts{
    padding: 16px;
}

.internal-service-image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.internal-service-header{
    font-size: 2rem;
}

.internal-service-description{
    color: #707070;
    margin-top: 16px;
    text-align: justify;
}

.common-header{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.banner-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
}

.banner1-header {
    font-size: 3rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.banner1-subtext {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.header-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

@media (min-width: 1281px) {
  
    .about-image{
        display: block;
    }

    .expertise-container {
        display: flex;
    }

    .expertise-item{
        height: auto;
        margin: 5px;
        flex-grow: 1;
        width: 5px;
    }
    
  }
